node_modules
.git
.gitignore
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production.local
.next
docker-compose.yml
docs/
e2e/
*.md
.github/
.vscode/
coverage/
